# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
out/
build/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
!CMakeLists.txt

# Compiled executables
*.exe
*.dll
*.obj
*.pdb

# Misc
.git/
.gitignore
*.md
README*
